
header{
	/*transition : all 0.01s ease-in-out;*/
}

header.second{
	background-color: white !important;
	transition: all 2s ease-in-out;
	color: white !important;

	a{
		/*color: white !important;*/
	}

	.logo h1{
		/*color: white !important;*/
	}
}

ol{
	width: max-content;
	max-width: 100%;
}

li{
	font-size: 1.2em;
	word-wrap: break-word;
}

div.banner{
	
}

@media(max-width: 1450px){
	div.banner{
		h1{
			font-size : 5em !important;
		}

		p{
			font-size: 1.5em !important;
		}
	}
}

@media(max-width: 1350px){
	div.banner{
		h1{
			font-size : 4em !important;
		}

		p{
			font-size: 1.2em !important;
		}
	}
}

@media(max-width: 840px){

	header{
		padding: 5% !important;
	}
	nav.electionLinks{
		display: none;
	}
}

@media(max-width: 500px){

	header{
		padding: 7% 2% !important;
	}

	header nav.credentialsLinks{
		width: 50% !important;
		text-align: right !important;
	}

	header div.logo{
		width: 50% !important;
		overflow: hidden;
	}

	header div.logo h1{
		font-size: 2em !important;
	}

	header nav.credentialsLinks a{
		/*padding: 0 2% !important;*/
		font-weight: bolder;
	}

	div.body{
		padding-top: 7% !important;
	}

	div.banner{

		background-color: red;

		margin:  0 2% !important;

		h1{
			font-size : 3em !important;
			padding: 2%;
		}

		p{
			font-size: 1.2em !important;
		}

		.col-7 img{
			/*height: 200px !important;*/
		}
	}

	.msg p{
		margin: 0 2% !important;
		font-weight: normal !important;
		padding: 1% !important;
		font-size: .9em !important;
	}
}

