
header{
	/*transition : all 0.01s ease-in-out;*/
}

header.second{
	background-color: white !important;
	transition: all 2s ease-in-out;
	color: white !important;

	a{
		/*color: white !important;*/
	}

	.logo h1{
		/*color: white !important;*/
	}
}

ol{
	width: max-content;
	max-width: 100%;
}

li{
	font-size: 1.2em;
	word-wrap: break-word;
}

div.banner{
	
}


/* ...  */

.testimonial-container {
  background-color: #476ce4;
  color: #fff;
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 80px;
  /*max-width: 768px;*/
  width: 100%;
  position: relative;
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  /*margin: 10px 0;*/
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  animation: grow 5s linear infinite;
  transform-origin: left;
}

.social i{
	width: 20%;
	text-align: center;
	font-size: 2em;
	color: black;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
}

/* ...  */

@media(max-width: 1450px){
	div.banner{
		h1{
			font-size : 5em !important;
		}

		p{
			font-size: 1.5em !important;
		}
	}
}

@media(max-width: 1350px){
	div.banner{
		h1{
			font-size : 4em !important;
		}

		p{
			font-size: 1.2em !important;
		}
	}
}

@media(max-width: 840px){

	header{
		padding: 5% !important;
	}
	nav.electionLinks{
		display: none;
	}
}

@media(max-width: 500px){

	header{
		padding: 7% 2% !important;
	}

	header nav.credentialsLinks{
		width: 50% !important;
		text-align: right !important;
	}

	header div.logo{
		width: 50% !important;
		overflow: hidden;
	}

	header div.logo h1{
		font-size: 2em !important;
		padding: 2% 15% !important;
	}

	header nav.credentialsLinks a{
		/*padding: 0 2% !important;*/
		font-weight: bolder;
		padding: 5% 2% !important;
		margin: 0 !important;
	}

	div.body{
		padding-top: 7% !important;
	}

	div.banner{

		background-color: red;

		margin:  0 2% !important;

		h1{
			font-size : 3em !important;
			padding: 2%;
		}

		p{
			font-size: 1.2em !important;
		}

		.col-7 img{
			/*height: 200px !important;*/
		}
	}

	.msg p{
		margin: 0 2% !important;
		font-weight: normal !important;
		padding: 1% !important;
		font-size: .9em !important;
	}

	section.feedback{
		padding: 0% !important;
		margin: 3% !important;
	}

	.voting,.hosting{
		margin-top: 4%;
	}

	.guide{
		font-size: 1em !important;
		line-height: 1.2em !important;
	}

	.ms{
		padding-right: 0% !important;
	}
}

/*li {
  list-style-image: url('../../assets/correct1.png');
  font-size: 1em !important;
  list-style-type: lower-roman;
  list-style-position: ;

}*/
