
ol{
	width: max-content;
	max-width: 100%;
}

li{
	font-size: 1.2em;
	word-wrap: break-word;
}

@media(max-width: 840px){

	header{
		padding: 2% !important;
	}
	nav.electionLinks{
		display: none;
	}
}