<div id="main">

<header style="background-color: #00808029;" class=" shadow-lg d-flex justify-content-between align-items-center p-4 sticky-top">

	<nav class="electionLinks text-center" style="width: 30%">


		<!-- <a href="" class="text-dark font-weight-bold px-3 " > PRICING </a> -->
		<a href="" class="text-dark font-weight-bold" > CREATE A NEW ELECTION </a>

	</nav>

	<div class="logo text-center " style="width: 40%">
    <h1 class=" text-dark font-weight-bolder text-center bg-dark m-auto py-2 px-5" style="width: max-content; border-top-left-radius: 1rem; border-bottom-right-radius: 1rem;"> LOGO </h1>
	</div>

	<nav class="credentialsLinks text-center" style="width: 30%">

		<a href="admin/auth/login" class="text-dark"> LOG IN </a>
		<a href="admin/auth/register" class="text-dark px-3"> REGISTER </a>

	</nav>

</header>

<div class="body py-5" style="background-color: #00808029;">

		<section class="text-center">

			<!-- <h1 style="font-size: 3em;"> Secure, Cloud-based Elections </h1> -->

			<div class="mx-5 bg-light row banner" style="border-radius: 1rem; overflow: hidden;">

				<div class="col-5 d-flex justify-content-center align-items-center flex-column">

			<h1 class="font-weight-bolder" style="font-size: 6em; border-bottom: 5px dashed; "> ELECTIONS <br> MADE EASY </h1>

			<p class="mt-3 font-italic " style="font-size: 2em;  ">

				Host, process and get your elections delivered to your voters online.

			</p>

		</div>

		<div class="col-7 p-0" >

			<img class="" style="width: inherit ;" src="assets/pexels-edmond-dantès-7103012.jpg">

		</div>

		</div>

			<!-- <p class="" style="font-size: 1.2em;">

				In seconds, you can host an election for schools and organizations, your voters can vote from anywhere, using any device.

			</p> -->

			<button class="btn mx-3 text-light" style="background-color: teal;" > Create an Election </button>

			<button class="btn mx-3 text-light" style="background-color: teal;" > How it works? </button>

		</section>

		<section class="text-center mt-3">
			
			<p class="font-italic "> Once you have registered you can host more than one elections. Elections with up to 50 voters are free. <a href=""> View Pricing </a>

		</section>

		<section class="p-4 bg-dark m-5 rounded">
			<h3 class="text-left font-italic mb-3 " style="text-decoration: underline;" > Love from our Customers </h3>

			 <q> We did the impossible this year. We held our annual executive elections online. we had problems of getting all voters to meet at a location for election we keep postponding everytime election is held, but thanks to voty this year our elections went smoothly in all remote locations and violence free. I just had to pay Gh30.00 for over 100 voters, still can't believe it, this has save us cost,time and security. </q>

			 <p class="bg-light p-2 m-2  " style="width: max-content; max-width: 100%; border-radius: 1rem;"> <b class="font-italic px-2"> Rating 9.5/10 </b>  Abdul-Latif Mohammed, <b> The Men Group of Companies </b> </p>

<p class="text-right">
			 <button class="btn mx-3 text-light" style="background-color: teal; " > Read More Reviews <i class="fa-solid fa-arrow-right p-2"> </i> </button>
			</p>

		</section>

		<section class="p-3 mt-5">

			<div class="row p-0 m-0 bg-light">

				<h2 class="text-center font-italic py-5" style="text-decoration: underline;" > Hosting an Election </h2>

				<div class="col-lg-6 text-center">

					<!-- <h4> Hosting an election is easy </h4>
					<p> You're always in control. It's easy to build and customize an election. </p> -->

					<ol class="m-auto text-left" >

						<li class="my-4"> 
							<b style="font-size: 1.4em;"> Create your Ballot: </b> <br>
							Add Categories such as President,General Secretary e.t.c and candidates of each category to your election.
						</li>

						<li class="my-4"> 
							<b style="font-size: 1.4em;"> Add your voters: </b> <br>
							Control who is authorized to vote in your elections. Add voters one by one, or imort them from a spreadsheet.
						</li>

						<li class="my-4"> 
							<b style="font-size: 1.4em;"> Launch the Election: </b> <br>
							When you're done customizing the election, you can schedule a start/end date and launch your election.
							A link will be generated for you to share with your voters.
						</li>

						<li class="my-4"> 
							<b style="font-size: 1.4em;"> View Results: </b> <br>
							Watch the results of your election in real-time. At the end of the election you have the option to share your results with your voters.
						</li>

					</ol>

				</div>

				<div class="col-lg-6 bg-dark">Video</div>

			</div>

			<div class="row mt-5 bg-light">

				<h2 class="text-center font-italic py-5" style="text-decoration: underline;" > Voting </h2>

<div class="col-lg-6 d-flex align-items-center">
				<ol>

					<li class="my-4"> 
							<b style="font-size: 1.4em;"> Voter clicks on election link: </b> <br>
							The voter will need his/her voting id to access election. The voter then selects one candidate from each category to vote for and then submit the vote.
						</li>

						<li class="my-4"> 
							<b style="font-size: 1.4em;"> One man One vote: </b> <br>
							Every voter has a distinct "Voter ID" and is only allowed to cast one ballot.
						</li>

					</ol>
				</div>

				<div class="col-lg-6 bg-dark text-center">
					<video  autoplay muted loop>
  <source src="assets/voting-demo.mp4" type="video/mp4">
</video>
				</div>


			</div>

		</section>

		<section>
			
			<div class="row m-0 p-0 py-5">

				<div class="col-md-4 col-sm-6 text-center">
					<i class="fa-solid fa-screwdriver-wrench fa-4x d-block my-3" style="color: teal;"></i> 
                    <b> No Technical Skills Required </b> <br>
					Personalize your elections with your organization's logo and colors.

				</div>

				<div class="col-md-4 col-sm-6 text-center">
					<i class="fa fa-square-poll-horizontal fa-4x d-block my-3" style="color: teal;"></i>
                    <b> Structured Results </b> <br>
					Election Results are automatically updated in a tabular form which includes the number of votes and percentage rate of a candidate, and also presented with beautiful charts.

				</div>

				<div class="col-md-4 col-sm-6 text-center">
					<i class="fa fa-clock fa-4x d-block my-3" style="color: teal;"></i>
                    <b> Time Efficiency </b> <br>
					Election Results are automatically updated in a tabular form which includes the number of votes and percentage rate of a candidate, and also presented with beautiful charts.

				</div>


			</div>

		</section>

	</div>

	<footer class="p-5" style="background-color: teal;" >

		<div class="logo">
    <h1 class="text-light font-weight-bolder text-center "> VOTY </h1>
	</div>

	</footer>
</div>