	<!-- Category view with candidates in each category -->


	<div class="card container mt-3" style="border: 1px solid teal;">

		<div class="card-header text-center font-weight-bold t" style="font-size: 2em; border-bottom: 1px solid teal;"> ELECTION RESULTS </div>
 
		<div class="card-body" style="border-color: teal !important;" >
             <p class="text-center p-1 font-weight-bold " style="color: teal;"  > DROP EACH CATEGORY TO VIEW RESULTS UNDER IT </p>

			<div class="card" *ngFor="let y of categories" style="border: 1px solid teal;">

				<div class="card-header font-weight-bold d-flex  " data-bs-toggle="collapse" [attr.data-bs-target]="'#x'+y.index" style="color: teal; border-color: teal !important;" (click)="this.s.classList.toggle('fa-angle-up')" > <span style="width: 50%;"> {{y.category}} </span> <span style="width: 50%;" class="text-right font-weight-bolder fa-solid fa-angle-down" #s>  </span>  </div>

				<div class="card-body collapse" [id]="'x'+y.index" >
<!--
					<div class="text-right mb-3">

			<button class="btn btn-light showAddCandidate" #showAddCandidate style="border: 1px solid" (click)=toggleAddCandidate(this.add_candidate_rm,y.category) > <i class="fas fa-plus" > </i> Add Candidate </button>

		</div>
	-->

					<ol class="p-0">

						<ng-container *ngFor="let x of votes">

						<li class="mt-3 border border-5 p-3 " *ngIf="x.Category === y.category" style=" list-style-position: inside; border-radius: 1rem;
" >

							<div class="row ">

								<div class="col-lg-2">

									<div class="m-auto" style="border: 1px solid; width: max-content; border-radius: 1rem; overflow: hidden;"> 
										<img class="rounded" style="width: 100px;" [src]="x.photo"> </div>

								</div>

								<div class="col-lg-5 mt-2">

									<div class="justify-content-center d-flex flex-column" style="height: 100%;">

									<h6 class="text-center"> {{x.Candidate_Name}} </h6>

								</div>

								</div>

								<div class="col-lg-2 mt-2">

									<div class="justify-content-center d-flex flex-column" style="height: 100%;">

									<p class="text-center text-bold text-decoration-underline"> No. of votes </p>

									<h6 class="text-center"> {{x.Number_of_votes}} </h6>

								</div>

								</div>

								<div class="col-lg-3 mt-3 ">

									<div class="justify-content-center d-flex flex-column" style="height: 100%;">

									<p class="text-center text-bold text-decoration-underline"> Percentage (%) </p>

									<h6 class="text-center"> {{x.Percentage}} </h6>

								</div>

								</div>

								<!--
								<div class="col-2 bg-light" >

									<div class="justify-content-center d-flex flex-column" style="height: 100%;">

									<button class="btn btn-success" (click)=toggleUpdateCandidate(this.update_candidate,y.category,x.name,x.photo)> Edit Candidate </button>

									<button class="btn btn-danger mt-2" (click)=deleteCandidate(x.name,x.category) [value]="x.name"> Delete Candidate </button>

								</div>

								</div>
							-->

							</div>

						</li>

					</ng-container>

					</ol>

				</div>


				<div *ngIf="y.count > 1" class="card-footer text-center font-weight-bold">
<marquee style="color: white;  -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black; font-size: 1em;"> {{y.count}} CANDIDATES </marquee>
				</div>

				<div *ngIf="!(y.count > 1)" class="card-footer text-center font-weight-bold">
<marquee style="color: white; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black; font-size: 1em;"> {{y.count}} CANDIDATE </marquee>
				</div>

			</div>

		</div>

</div>

<!-- End Of Category View -->