@font-face {
  font-family: "inter";
  src: url(../../../assets/fonts/inter/Inter-Thin.ttf);
}

h1{
  font-family: inter !important;
}

.events{
  transition: all 1s ease-in;
}

div.events:hover{
  border: 5px solid yellow !important;
  opacity: 50%;
  /*background-color: brown;*/
}

/*.ongoingVoting:hover{
  opacity: 50%;
}*/


// nav stylings

.mobile-nav-icon{
  display: none;
}

.mobile-nav-links{
  display: none;
}

@media(max-width: 800px){
  nav{
    padding: 5% !important;
  }

  input#search{
    width: 90% !important;
  }
  .mobile-nav-icon{
    display: block;
  }

  .desktop-nav-links{
    display: none !important;
  }
}