<div class="main">

<div class="p-2 text-end">

<b> Contact Us : </b>

<a class="mx-2" href="">
<i class="fa-solid fa-phone"></i>
+233 59 378 7724
</a>

<a class="mx-2" href="">
    <i class="fa-solid fa-envelope"></i>
    </a>

<a class="mx-2" href="">
<i class="fa-brands fa-twitter"></i>
</a>

</div>

<header class=" d-flex bg-dark align-items-center py-5 px-4 " style="height: 10vh; box-sizing: border-box;"  >

    <div class="logo"  >

        <img class="img-fluid h-100 rounded-circle m-0 " style="width: 100%;" src="../../assets/ELECTRONIC BALLOT.gif" />

    </div>

    <div class="me-auto ml-3 font-weight-bold"> ELECTRONIC BALLOT </div>

    <div class="m-none">
ldf
    </div>

    <div class="m-block">
        <i class="fa-solid fa-bars"></i>
    </div>

</header>


<div class="banner bg-dark mt-5 d-flex align-items-center" >

    <div class="w-100 container text-center">
        <h1> Elections Made Easy </h1>
        <p class="font-weight-bold">Host, process and get your elections delivered to your voters online.</p>
    </div>

</div>

<div class="options container mt-5">

    <div class="row bg-light gx-5">

        <div class="col-sm-4 bg-dark p-2 rounded">
            <div class="img">
                <img class="img-fluid" src="assets/banner3.jpg" />
            </div>
            <div>
                <h5 class="text-center"> REMOTE VOTING </h5>
                <p>
                    Electronic voting remotely, from a computer, cell phone or tablet, with strict measures that protect the secrecy of the vote and authenticate the identity of the voter. Supervised and assisted remotely.
                </p>
            </div>
        </div>


        <div class="col-sm-4 bg-dark p-2 rounded">
            <div class="img">
                <img class="img-fluid" src="assets/banner3.jpg" />
            </div>
            <div>
                <h5 class="text-center"> REMOTE VOTING </h5>
                <p>
                    Electronic voting remotely, from a computer, cell phone or tablet, with strict measures that protect the secrecy of the vote and authenticate the identity of the voter. Supervised and assisted remotely.
                </p>
            </div>
        </div>


        <div class="col-sm-4 bg-dark p-2 rounded">
            <div class="img">
                <img class="img-fluid" src="assets/banner3.jpg" />
            </div>
            <div>
                <h5 class="text-center"> REMOTE VOTING </h5>
                <p>
                    Electronic voting remotely, from a computer, cell phone or tablet, with strict measures that protect the secrecy of the vote and authenticate the identity of the voter. Supervised and assisted remotely.
                </p>
            </div>
        </div>

    </div>

</div>

<!-- <div class="text-center">
    <img src="../../assets/ELECTRONIC BALLOT.gif">
</div> -->

</div>