<div class="main">

<div class="p-2 text-end">

<b> Contact Us : </b>

<a class="mx-2" href="">
<i class="fa-solid fa-phone"></i>
+233 59 378 7724
</a>

<a class="mx-2" href="">
    <i class="fa-solid fa-envelope"></i>
    </a>

<a class="mx-2" href="">
<i class="fa-brands fa-twitter"></i>
</a>

</div>

<header class=" d-flex bg-dark align-items-center py-5 px-4 " style="height: 10vh; box-sizing: border-box;"  >

    <div class="logo"  >

        <img class="img-fluid h-100 rounded-circle m-0 " style="width: 100%;" src="../../assets/ELECTRONIC BALLOT.gif" />

    </div>

    <div class="me-auto ml-3 font-weight-bold"> ELECTRONIC BALLOT </div>

    <div class="m-none">
ldf
    </div>

    <div class="m-block">
        <i class="fa-solid fa-bars"></i>
    </div>

</header>


<div class="banner bg-dark mt-5 d-flex align-items-center" >

    <div class="w-100 container text-light text-center">
        <h1> Elections Made Easy </h1>
        <p class="font-weight-bold">
            Switch from manual ballot counting to an online election system without compromising the integrity of your Elections.
            </p>
            
    </div>

</div>


<div class="container bg-secondary mt-4 rounded py-3">

    <h3> In your organization: </h3>

    <ul>

        <li>
            Make your election process more modern, digital, safe, and efficient.
        </li>

        <li>
            Host, process and get your elections delivered to your voters remotely.
        </li>

    </ul>

    <h3>  </h3>
    
</div>


<div class="options container mt-5">

    <h4> No barriers stand in the way of democracy. </h4>

    <h6>A three-option electronic voting process for your voters. </h6>

    <div class="row gx-5 gy-3">

        <div class="col-sm-4">
            <div class="card m-0 bg-dark">
                <img class="card-img-top" src="assets/remote.jpg" alt="..." />

                <div class="card-body">
                    <h5 class="card-title font-weight-bold">REMOTE VOTING </h5>
                    <p class="card-text"> Remote electronic voting using a computer, mobile device, or tablet permitted under strict conditions that ensure the privacy of the vote and the voter's identification. Remote supervision and assistance. </p>
                  </div>
            
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card m-0 bg-dark">
                <img class="card-img-top" src="assets/banner3.jpg" alt="..." />

                <div class="card-body">
                    <h5 class="card-title font-weight-bold"> VOTING STATIONS </h5>
                    <p class="card-text"> Electronic voting in specially designated locations where people can see each other, with trained computers and monitors to guide the process. both in-person and remote supervision and assistance. </p>
                  </div>
            
            </div>
        </div>

        <div class="col-sm-4 ">
            <div class="card m-0 bg-dark" style="height: 100%;">
                <img class="card-img-top" src="assets/hybrid.jpg" alt="..." />

                <div class="card-body">
                    <h5 class="card-title font-weight-bold"> HYBRID VOTING </h5>
                    <p class="card-text"> Remote and face-to-face electronic voting, centrally coordinated, with the security measures of both processes. Supervised and assisted remotely and in person. </p>
                  </div>
            
            </div>
        </div>

        

    </div>
</div>

<div class="mt-5">

</div>

</div>