

<div class="hidden bg-primary d-flex align-items-center justify-content-center" id="register" >

  <div class="w-100 h-100 d-flex align-items-center justify-content-center" style="background-color: rgba(0, 0, 0, 0.534);" >

    <form [formGroup]="registerForms" (ngSubmit)="registerFormsOnSubmit()" class="col-lg-6 d-flex flex-column justify-content-center p-3 rounded w-50 border "  >

      <h6 class="" > <img style="width: 50px;" class="rounded-circle mx-2" src="../../assets/ELECTRONIC BALLOT.gif" /> Electronic Ballot </h6>

      <h1 class="text-center mb-3 text-light mt-0" > Register for free </h1>

      <div class="form-group" style="width: 100% !important;" >

        <label> Name: </label>

        <small *ngIf=" this.submitted && this.registerV['username'].errors?.['required'] " class="text-danger font-weight-bold"> *** This input is required *** </small>

        <input class="form-control" type="text" name="" placeholder="Enter your full name" formControlName="username" >

      </div>

      <div class="form-group pt-1" style="width: 100% !important;" >

        <label> Email Address: </label>

        <small *ngIf=" this.submitted && this.registerV['email'].errors?.['required'] " class="text-danger font-weight-bold"> *** This input is required *** </small>
        <small *ngIf=" this.submitted && this.registerV['email'].errors?.['email'] " class="text-danger font-weight-bold"> *** Enter a valid email *** </small>

        <input class="form-control" type="text" name="" placeholder="email" formControlName="email" >

      </div>

      <div class="form-group pt-1" style="width: 100% !important;" >

        <label> Password: </label>

        <small *ngIf=" this.submitted && this.registerV['password'].errors?.['required'] " class="text-danger font-weight-bold"> *** This input is required *** </small>

        <input class="form-control" type="password" name="" placeholder="Password" formControlName="password" >

      </div>

      <div class="form-group pt-1" style="width: 100% !important;" >

        <label> Confirm Password: </label>

        <small *ngIf=" this.submitted && this.registerV['confirmPassword'].errors?.['required'] " class="text-danger font-weight-bold"> *** This input is required *** </small>

        <small *ngIf=" this.submitted && this.registerV['confirmPassword'].errors?.['mustmatch'] " class="text-danger font-weight-bold"> *** Passwords do not match *** </small>

        <input class="form-control" type="password" name="" placeholder="Confirm Password" formControlName="confirmPassword" >

      </div>

      <div class="form-group pt-1 text-center" style="width: 100% !important;" >

        <button class="btn btn-light font-weight-bolder " > REGISTER </button>

      </div>

      <p class="bg-dark p-2 rounded text-center" > Already have an account?  <a routerLink="/login" class="text-primary px-1"> Login here... </a> </p>

    </form>

    </div>

</div>




<div class="hidden bg-primary" id="login" style=" justify-content: center; align-items: center;">

  <div class="w-100 h-100 d-flex align-items-center justify-content-center" style="background-color: rgba(0, 0, 0, 0.534);" >

    <form [formGroup]="loginForms" (ngSubmit)="loginFormsOnSubmit()"  class="border d-flex flex-column justify-content-center p-3 rounded w-50   ">

      <h6 class="" > <img style="width: 50px;" class="rounded-circle mx-2" src="../../assets/ELECTRONIC BALLOT.gif" /> Electronic Ballot </h6>

      <h1 class="text-center mb-3 " > Login </h1>

      <div class="form-group " style="width: 100% !important;" >

        <label> Email Address: </label>

        <small *ngIf=" this.submitted && this.loginV['email'].errors?.['required'] " class="text-danger font-weight-bold"> *** This input is required *** </small>
        <small *ngIf=" this.submitted && this.loginV['email'].errors?.['email'] " class="text-danger font-weight-bold"> *** Enter a valid email *** </small>

        <input class="form-control" type="text" name="" placeholder="email" formControlName="email" >

      </div>

      <div class="form-group pt-3" style="width: 100% !important;" >

        <label> Password: </label>

        <small *ngIf=" this.submitted && this.loginV['password'].errors?.['required'] " class="text-danger font-weight-bold"> *** This input is required *** </small>

        <input class="form-control" type="password" name="" placeholder="Password" formControlName="password" >

      </div>

      <div class="form-group pt-3 text-center" style="width: 100% !important;" >

        <button class="btn btn-light font-weight-bolder " > Sign in </button>

      </div>

      <div class="form-group pt-1 text-center" style="width: 100% !important;" >

        <p> <a href="" class="text-white font-weight-bold"> Forgot your password? </a> </p>

        <p class="bg-dark font-weight-bold " > New here?  <a routerLink="/register" class="text-primary px-1"> Register here... </a> </p>

      </div>

    </form>
</div>

  </div>

<div *ngIf="process" class="bg-dark d-flex justify-content-center align-items-center flex-column" style="opacity: 80%; z-index: 99; position: absolute; top:0; width: 100%; height: 100vh;" > <i class="fas fa-cog fa-spin fa-5x"></i> <p class="fa-2x font-weight-bold"> PROCESSING... </p> </div>

  <div *ngIf="successMessage" class="fixed-top font-weight-bolder animate__animated animate__zoomIn d-flex justify-content-center " style=" transition: all 2s ease-in-out;" > 
    <div class="d-flex justify-content-center bg-success rounded p-4 align-items-center" style="width:max-content;"> <i class="fa-solid fa-2x mx-3 fa-circle-check"></i> {{successMessage}} </div>
  </div>

    <div *ngIf="errorMessage" class="fixed-top  font-weight-bolder animate__animated animate__zoomIn d-flex justify-content-center  " style=" transition: all 2s ease-in-out;"> 
    <div class="d-flex justify-content-center bg-danger rounded p-4 align-items-center" style="width:max-content;"> <i class="fa-solid fa-circle-exclamation fa-2x mx-3 "></i>  {{errorMessage}} </div>
  </div>