#main{
    transition: all 3s;
    font-family: 'Poppins', sans-serif;
}

.createdElection{
    cursor: pointer;
    box-sizing: border-box;
}

.card:hover{
    border: 5px solid rgb(40 167 69) !important;
}

@media(max-width : 500px) {
    .mobile-padding{
        padding-left: 3% !important;
        padding-right: 3% !important;
    }
    .addElection{
        width: 100% !important;
    }
}