<div id="main" class="bg-dark bg-light flex-column " style="height: calc(var(--vh, 1vh) * 100);"  >

	<div class="mobile-padding shadow container px-3 py-3 d-flex align-items-center rounded " style="height: 10%; box-sizing: border-box; ">

		<div class="logo" style="height: 100%;"  >

			<img class="img-fluid h-100 rounded-circle m-0 "  src="../../assets/ELECTRONIC BALLOT.gif" />
	
		</div>
	
		<p class="px-3 m-0 mr-auto "> ELECTRONIC BALLOT </p>

		<div>
			<button id="toggleButton" class="btn btn-light" (click)="toggleMode()" > <i class="fa-solid fa-moon"></i> {{modeText}} </button>
		</div>

	</div>

	<div class="shadow container py-3 flex-column " style="height: 80%; box-sizing: border-box;  " >

		<div class="mobile-padding border-bottom border-5 p-3 rounded d-flex justify-content-between align-items-center " style="height: 10%;">

			<h3 class="m-0" > Elections </h3>

			<button (click)="this.addElection.classList.toggle('d-flex')" class="btn btn-success"> <i class="fa-solid fa-square-plus"></i> Add a new election </button>

			</div>

			<div *ngIf="userElections.length < 1" class="my-3 d-flex flex-column justify-content-center align-items-center " style="height: 90% ">
				<h4> No elections created </h4>
				<button (click)="this.addElection.classList.toggle('d-flex')" class="btn btn-success"> <i class="fa-solid fa-square-plus"></i> Add a new election </button>
			</div>

			<div *ngIf="userElections.length > 1" class="container py-3 " style=" height: 90%; overflow-y: scroll;" >

			<div class="row g-2">

				<div *ngFor="let userElection of userElections" class="col-md-4 ">
					<div class="card border border-0 shadow createdElection " style="background-color: inherit;" >
						<img class="card-img-top" [src]="userElection.imageurl" alt="..." />
						<div class="card-body">
							<p class="card-title font-weight-bold"> {{userElection.electionName}} </p>
						  </div>
						  
						  <div class="d-none justify-content-center align-items-center manage" style="position: absolute; height: 100%; width: 100%; background-color: 
						  rgba(0, 0, 0, 0.432); backdrop-filter: blur(1px); " >
						  <button (click)="this.addElection.classList.toggle('d-flex')" class="btn btn-success"> <i class="fa-solid fa-bars-progress"></i> Manage Election </button>
						  </div>

					</div>
				</div>

			</div>

			</div>

	</div>

	<div class="d-flex align-items-center w-100 justify-content-center shadow container text-center" style="height: 10%;" >

			&copy; 2022 Electronic Ballot | Pricing

	</div>

</div>


<div #addElection id="addElection" class="px-3 d-none justify-content-center align-items-center fixed-top" style="height: calc(var(--vh, 1vh) * 100); z-index: 1; background-color: rgba(0, 0, 0, 0.664); "  >

	<form [formGroup]="addElectionForm" (ngSubmit)="addElectionSubmit()" class="addElection border border-5 w-50 bg-light p-2 rounded shadow ">

		<div class="static-top text-end">
		<i (click)="this.addElection.classList.toggle('d-flex')" class="fa-solid fa-circle-xmark text-danger fa-2x " style="cursor: pointer;"  ></i>
		</div>

		<h3 class="text-center mb-3 text-success" > Host Election </h3>

		<div class="form-group">
			<label> Name your election </label>
			<input type="text" class="form-control" formControlName="electionName" placeholder="e.g Executives Elections, S.R.C Elections " >
		</div>
		
		<div class="form-group">
			<label> Upload an image for your election </label>

			<p class="bg-dark rounded p-2" style=" font-style: italic; " > This can be a logo of your institute or an image representing your institute; your voters will be seeing this image. </p>

		<div class="form-group custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
	
			<ngx-dropzone-label>
				<div class="bg-dark p-2 rounded" >
					<i class="fa-solid fa-circle-plus fa-2x"></i> <br>
					 click to select your image <br>
					or <br>
					<span class="text-success"> drag here </span>
				</div>
			</ngx-dropzone-label>
			
			<ngx-dropzone-image-preview class="w-100" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of file" [file]="f" [removable]="true" (removed)="onRemove()">
				<!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
			</ngx-dropzone-image-preview>
		</div>

		</div>

		<div class="form-group mt-3 text-center ">
			<button class="btn btn-success"> Create Election </button>
		</div>

	</form>

</div>







<div *ngIf="process" class="bg-dark d-flex justify-content-center align-items-center flex-column" style="opacity: 80%; z-index: 99; position: absolute; top:0; width: 100%; height: calc(var(--vh, 1vh) * 100);" > <i class="fas fa-cog fa-spin fa-5x"></i> <p class="fa-2x font-weight-bold"> PROCESSING... </p> </div>

<div *ngIf="successMessage || errorMessage" class="px-3 d-flex justify-content-center align-items-center fixed-top" style="height: calc(var(--vh, 1vh) * 100); background-color: rgba(0, 0, 0, 0.664); "  >

	<div *ngIf="successMessage" class="bg-light p-3 rounded w-50 successMessage" >

		<div class="text-center" style="height: 100px;" >
			<img class="h-100" src="../../../assets/check-animation.gif" />
		</div>

		<div class="text-center">
			{{successMessage}}
		</div>

	</div>

	<div *ngIf="errorMessage" class="bg-danger p-3 rounded w-50 errorMessage" >

		<div class="text-center" >
			<!-- <img class="h-100" src="../../../assets/check-animation.gif" /> -->
			<i class="fa-solid fa-circle-xmark fa-2x my-3 "></i>
		</div>

		<div class="text-center">
			{{errorMessage}}
		</div>

	</div>

</div>