<div id="main" class="bg-dark bg-light flex-column " style="height: calc(var(--vh, 1vh) * 100);"  >

	<div class=" shadow container p-3 d-flex align-items-center  rounded " style="height: 10%; box-sizing: border-box;">

		<div class="logo" style="height: 100%;"  >

			<img class="img-fluid h-100 rounded-circle m-0 "  src="../../assets/ELECTRONIC BALLOT.gif" />
	
		</div>
	
		<p class="px-3 me-auto "> ELECTRONIC BALLOT </p>

		<div>
			<button id="toggleButton" class="btn btn-light" (click)="toggleMode()" > <i class="fa-solid fa-moon"></i> {{modeText}} </button>
		</div>

	</div>

	<div class="shadow container py-3 flex-column " style="height: 80%; box-sizing: border-box;  " >

		<div class="border-bottom border-5 p-3 rounded d-flex justify-content-between align-items-center " style="height: 10%;">

			<h3 class="m-0" > Elections </h3>

			<button (click)="this.addElection.classList.toggle('d-flex')" class="btn btn-success"> <i class="fa-solid fa-square-plus"></i> Add a new election </button>

			</div>

			<div class="my-3 d-flex flex-column justify-content-center align-items-center " style="height: 90% ">
				<h4> No elections created </h4>
				<button (click)="this.addElection.classList.toggle('d-flex')" class="btn btn-success"> <i class="fa-solid fa-square-plus"></i> Add a new election </button>
			</div>

			<!-- <div class="container py-3 " style=" height: 90%; overflow-y: scroll;" >

			<div class="row g-2">

				<div *ngFor="let x of a" class="col-md-4 ">
					<div class="card border border-0 shadow createdElection " style="background-color: inherit;" >
						<img class="card-img-top" src="assets/banner3.jpg" alt="..." />
						<div class="card-body">
							<p class="card-title font-weight-bold"> DUC SRC Elections </p>
						  </div>
						  
						  <div class="d-none justify-content-center align-items-center manage" style="position: absolute; height: 100%; width: 100%; background-color: 
						  rgba(0, 0, 0, 0.432); backdrop-filter: blur(1px); " >
						  <button (click)="this.addElection.classList.toggle('d-flex')" class="btn btn-success"> <i class="fa-solid fa-bars-progress"></i> Manage Election </button>
						  </div>

					</div>
				</div>

			</div>

			</div>

	</div> -->

	<div class="d-flex align-items-center justify-content-center shadow container text-center" style="height: 10%;" >

			&copy; 2022

	</div>

</div>


<div #addElection class="vh-100 px-3 d-none justify-content-center align-items-center fixed-top"  >

	<form class="addElection border border-5 w-50 bg-light p-2 rounded ">

		<div class="static-top text-end">
		<i (click)="this.addElection.classList.toggle('d-flex')" class="fa-solid fa-circle-xmark text-danger fa-2x " style="cursor: pointer;"  ></i>
		</div>

		<h3 class="text-center text-success" > Host Election </h3>

		<div class="form-group">
			<label> Name your election </label>
			<input type="text" class="form-control" placeholder="e.g Executives Elections, S.R.C Elections " >
		</div>

		<div class="form-group mt-3 text-center ">
			<button class="btn btn-success"> Create Election </button>
		</div>

	</form>

</div>