.animate__fadeIn{
	--animate-duration: 3s;
}

div.full{
	background-color: green;
	height: 100vh;
}

.content{
	text-align: center;
	margin-top: 15%;
}

a{
	padding: 1.5%;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 2em;
	font-family: monospace;
	margin: 1%;
	border-radius: .5rem;
	border: 1px dotted;
	transition: all 2s;
}

a:hover{
	background-color: white;
	color: green;
}

div.line{
	display: inline;
	border: 2px solid;
	height: 110%;
}