<!-- 
<h4 *ngIf="successMessage"  class="text-center bg-light font-weight-bold py-2 " style=" color: green !important; position: absolute; width: 100%; font-family: monospace !important; " >
{{successMessage}}
</h4>
<h1> {{a}} </h1>

<div class="d-flex justify-content-center align-items-center bg-dark " style="height: 100vh; position: relative; " >

<div class="bg-light p-2 rounded font-weight-bold " style="position:absolute; top: 10%; left: 1%; cursor: pointer; " >
    <i class="fa-solid fa-rotate-left m-1"  ></i> BACK
</div>

    <form class="p-5 text-center bg-light rounded " style="width: 90%;" [formGroup]="voters" (ngSubmit)="nextVote()">
        <h1 class="mb-5"  > {{accessvoting}}    </h1>
        <label for="voterid"> Enter your voting id to access this event: </label>
        <p *ngIf=" submitted && votersControl['index_no'].errors?.['required'] " class="text-danger font-weight-bold " > *** This field is required *** </p>
        <p *ngIf=" submitted && errorMessage " class="text-danger font-weight-bold " > *** {{errorMessage}} *** </p>
        <input type="text" class="form-control" placeholder="Voter's id" formControlName="index_no" >

        <button type="submit" class="btn btn-primary mt-3" >Submit</button>
    </form>

</div> -->

<div class="vh-100 bg-light d-flex flex-column align-items-center pt-5 " *ngIf="a">

    <!-- <div class="bg-dark" styl> sfd </div>{{a.id}} -->

    <img [src]="a.imageurl" class="img-responsive img-thumbnail my-5" style="height: 150px;">

    <h3> {{a.electionName}} </h3>

    <form class="border border-5 pb-2 rounded overflow-hidden " style="width:50%">
        <p class="bg-primary p-3"> Login to vote </p>

    <div class="form-group m-3" >

        

        <input type="text" class="form-control" placeholder="Enter Voting Id" formControlName="votingId" >

    </div>

    <div class="m-3">

        <button class="btn btn-outline-primary"> Submit </button>

    </div>

</form>

    </div>

<h1> {{a}} </h1>