@font-face {
  font-family: "inter";
  src: url(../../../assets/fonts/inter/Inter-Thin.ttf);
}

h1{
  font-family: inter !important;
}

div.eachvoting:hover{
  border: 5px solid yellow !important;
  opacity: 50%;
  /*background-color: brown;*/
}

/*.ongoingVoting:hover{
  opacity: 50%;
}*/