@font-face {
  font-family: "inter";
  src: url(../../../assets/fonts/inter/Inter-Thin.ttf);
}

h1{
  font-family: inter !important;
}

div.eachvoting:hover{
  border: 5px solid yellow !important;
  opacity: 50%;
  /*background-color: brown;*/
}

/*.ongoingVoting:hover{
  opacity: 50%;
}*/


// nav stylings

.mobile-nav-icon{
  display: none;
}

.mobile-nav-links{
  display: none;
}

@media(max-width: 750px){
  .mobile-nav-icon{
    display: block;
  }

  .desktop-nav-links{
    display: none !important;
  }
}