*{
  margin: 0;
  padding: 0;
  /*font-family: 'inter', sans-serif !important;*/
}

@font-face{
	font-family: Inder;
	src: url(assets/inder/Inder-Regular.ttf);
}

@font-face{
	font-family: inter-bold;
	src: url(assets/inter/Inter-Black.ttf);
}

@font-face{
	font-family: inter-light;
	src: url(assets/inter/Inter-Light.ttf);
}