
#mobile-menu-button{
    display: none;
}

.addEventForm{
    width: 80%;
    margin: auto;
}

.allevents{
    transition: all 2s ease-in;
}

.allevents:hover{
    background-color: lightgreen;
    border-radius: 1rem;
    overflow: hidden;
}

@media(max-width: 600px){

    .preview{
        display: none !important;
    }

    .preview-f{
        width: 100%;
    }

.m-hide{
    display: none;
}

#mobile-menu-button{
    display: block;
}

.d-hide{
    display: block;
}

}

.mobile-menu-hidden{
    display: none;
}

.mobile-menu{
    display: flex;
}